<header class="navbar navbar-expand-lg shadow-lg px-5 nav-ph">
    <div class="container mx-auto">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/assets/logos/logo.png" alt="Logo" class="logo-ph img-fluid" />
      </a>

      <!-- Botón menú móvil -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav gap-3">

          <li class="nav-item dropdown li-ph">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-label="Conocer más sobre el Servicio de Consultoría Fiscal">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" aria-label="Continuar Servicio 1">Servicio 1</a></li>
              <li><a class="dropdown-item" href="#" aria-label="Continuar Servicio 2">Servicio 2</a></li>
            </ul>
          </li>
          
          <li class="nav-item li-ph">
            <a class="nav-link" href="#" aria-label="Continuar leyendo SEO">SEO</a>
          </li>
          <li class="nav-item li-ph">
            <a class="nav-link" href="#" aria-label="Continuar leyendo SEA">SEA</a>
          </li>
          <li class="nav-item li-ph">
            <a class="nav-link" href="#" aria-label="Continuar leyendo Nosotros">Nosotros</a>
          </li>
          <li class="nav-item li-ph">
            <a class="nav-link" href="#" aria-label="Continuar leyendo Blog">Blog</a>
          </li>
        </ul>
      </div>

      <!-- Botón Contactar -->
      <div class="d-none d-lg-block">
        <a href="#" class="btn btn-warning btn-sm px-4 py-2"  aria-label="Contactar al servicio telefono o gmail">Contactar</a>
      </div>

    </div>  
</header>