<div id="lightgallery" class="d-flex flex-wrap justify-content-center gap-3">
    <a href="https://kalihoteles.com/media/3d1cavre/kali-blog-febrero.png" class="zoom-link" style="flex: 0 1 300px;">
      <img src="https://kalihoteles.com/media/3d1cavre/kali-blog-febrero.png" class="img-fluid img-w img-cover" />
      <span class="zoom-icon">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
      </span>
    </a>
    <a href="https://kalihoteles.com/media/3d1cavre/kali-blog-febrero.png" class="zoom-link" style="flex: 0 1 300px;">
      <img src="https://kalihoteles.com/media/3d1cavre/kali-blog-febrero.png" class="img-fluid img-w img-cover" />
      <span class="zoom-icon">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
      </span>
    </a>
    <a href="https://kalihoteles.com/media/3d1cavre/kali-blog-febrero.png" class="zoom-link" style="flex: 0 1 300px;">
      <img src="https://kalihoteles.com/media/3d1cavre/kali-blog-febrero.png" class="img-fluid img-w img-cover" />
      <span class="zoom-icon">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
      </span>
    </a>   
</div>