<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="width: 24rem;">
        <div class="card-body">

            <div class="d-flex justify-content-center">
                <img src="/assets/logos/logo-storm.png" alt="Logo" class="rounded-circle mb-3" style="width: 120px; height: 120px;">
            </div>
            <form (ngSubmit)="login()" #formAuto="ngForm">
                <div class="mb-3">
                    <label for="email" class="form-label"><i class="fas fa-envelope"></i> Correo electrónico (*)</label>
                    <input type="email"  class="form-control" name="email" id="email"  [(ngModel)]="email" placeholder="Ingresa tu correo">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"><i class="fas fa-lock"></i> Contraseña (*)</label>
                    <input type="password" class="form-control"  name="password" id="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" >
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                </div>
                <!--
                <div class="text-center mt-3">
                    <a href="#"><i class="fas fa-key"></i> ¿Olvidaste tu contraseña?</a>
                </div>-->
            </form>
        </div>
    </div>
</div>

<!-- Pie de página -->
<footer class="footer">
    <div class="container text-center">
        <p class="mb-0">© 2025 Derechos reservados | Powered by IM</p>
    </div>
</footer>