body {
  background-color: #f5f8fa;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  border-bottom: 2px solid #00bfff;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #e0f4ff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}


.accordion-button {
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s ease;
}

.accordion-button:hover {
  background-color: #f0faff;
}

.accordion-body a.nav-link {
  font-size: 0.9rem;
  display: block;
  border-radius: 4px;
  transition: background-color 0.2s ease, padding-left 0.2s ease;
}

.accordion-body a.nav-link:hover {
  background-color: #e6f7ff;
  color: #007B9E;
  padding-left: 1.2rem;
  font-weight: 500;
}

.accordion-body a.nav-link i {
  width: 20px;
  text-align: center;
}
