<div class="contenedor-padre" *ngIf="showToolbar"> <!---->
  <nav class="navbar navbar-expand-lg barra">
    <button (click)="cajon.toggle()" class="btn ">
      <i class="fa-solid fa-bars"></i> </button>

    <div class="dropdown  ms-auto"> <!--ms-auto empuja el icono a la esquina derecha-->
      <div class="form-row d-flex">
        <p style="margin-right: 15px;">Bienvenido:{{userModel.nombres}} {{userModel.apellidos}} </p> <!---->
        <a href="#"
          class="d-flex align-items-center justify-content-center link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/assets/logos/logo-storm.png" alt="mdo" width="28" height="28" class="rounded-circle">
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser3">
          <!--dropdown-menu-end empuja el objeto adentro del div para que no salga el scroll-->
          <!-- <li><a class="dropdown-item" routerLink="/home">Home</a></li>
        <li><a class="dropdown-item" routerLink="#">Perfíl</a></li>
       <li><a class="dropdown-item" href="#">Settings</a></li>-->
          <!--<li><a class="dropdown-item" href="#">Profile</a></li> "-->
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li> <!---->
        </ul>
      </div>

    </div>

  </nav>
  <mat-sidenav-container class="contenido">
    <mat-sidenav class="menu-lateral" #cajon mode="side">

      <mat-expansion-panel class="menu-subtones">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fa-solid fa-blog icon-m"></i>
            Blog
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/crear-blog">
            <div class="list-item-container">
              <i class="fa-solid fa-pen-to-square icon-m"></i>
              <span>Crear Blog</span>
            </div>
          </a>
        </mat-nav-list>

        <mat-nav-list>
          <a mat-list-item routerLink="/lista-blogs">
            <div class="list-item-container">
              <i class="fa-solid fa-list icon-m"></i>
              <span>Ver Blogs</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>


      <mat-expansion-panel class="menu-subtones">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fa-solid fa-language icon-m"></i>
            Traducción
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/lista-blogs-en">
            <div class="list-item-container">
              <i class="fa-solid fa-globe icon-m"></i>
              <span>Ver Traducciones</span>
            </div>
          </a>

        </mat-nav-list>
      </mat-expansion-panel>


    </mat-sidenav>
    <mat-sidenav-content class="padding-10">
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-login *ngIf="showToolbar===false"></app-login>