<div class="contenedor-padre" *ngIf="showToolbar">

  <!-- HEADER / NAVBAR -->
  <nav class="navbar navbar-light shadow-sm px-4 fixed-top" style="background-color: #00BFFF; z-index: 1050;">
    <button class="btn btn-link text-white me-3 fs-5" data-bs-toggle="offcanvas" data-bs-target="#sidebarCMS">
      <i class="fa-solid fa-bars"></i>
    </button>

    <span class="navbar-brand text-white">EASS V2</span>

    <div class="ms-auto d-flex align-items-center text-white">
      <span class="me-3 fw-light">
        Bienvenido: {{ userModel.nombres }} {{ userModel.apellidos }}
      </span>
      <div class="dropdown">
        <a class="text-white text-decoration-none dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown">
          <img src="/assets/logos/logo-storm.png" alt="avatar" width="32" height="32" class="rounded-circle" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- SIDEBAR OFFCANVAS -->
  <div class="offcanvas offcanvas-start border-end shadow-sm" tabindex="-1" id="sidebarCMS" #offcanvasSidebar>
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-primary">Menú</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body p-0">
      <div class="accordion" id="accordionSidebar">

        <!-- HEADER -->
        <div class="accordion-item border-0">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-white text-dark fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseHeader" aria-expanded="false"
              aria-controls="collapseHeader">
              <i class="fa-solid fa-object-group me-2 text-primary"></i>
              Header
            </button>
          </h2>
          <div id="collapseHeader" class="accordion-collapse collapse" data-bs-parent="#accordionSidebar">
            <div class="accordion-body py-2 px-4">

              <a class="nav-link text-dark py-1" routerLink="/header/agregar-enlace" (click)="closeSidebar()">
                <i class="fa-solid fa-plus me-2"></i>
                Agregar Enlace
              </a>

              <a class="nav-link text-dark py-1" routerLink="/header/configuracion" (click)="closeSidebar()">
                <i class="fa-solid fa-sliders me-2 text-primary"></i>
                Configuración
              </a>


            </div>
          </div>
        </div>

        <div class="accordion-item border-0">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-white text-dark fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseFooter" aria-expanded="false"
              aria-controls="collapseFooter">
              <i class="fa-solid fa-object-group me-2 text-primary"></i>
              Footer
            </button>
          </h2>
          <div id="collapseFooter" class="accordion-collapse collapse" data-bs-parent="#accordionSidebar">
            <div class="accordion-body py-2 px-4">

              <!-- <a class="nav-link text-dark py-1" routerLink="/header/agregar-enlace" (click)="closeSidebar()">
                <i class="fa-solid fa-plus me-2"></i>
                Agregar Enlace
              </a> -->

              <a class="nav-link text-dark py-1" routerLink="/footer/configuracion" (click)="closeSidebar()">
                <i class="fa-solid fa-sliders me-2 text-primary"></i>
                Configuración
              </a>


            </div>
          </div>
        </div>

        <div class="accordion-item border-0">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-white text-dark fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseGaleria" aria-expanded="false"
              aria-controls="collapseFooter">
              <i class="fa-solid fa-object-group me-2 text-primary"></i>
              Galeria
            </button>
          </h2>
          <div id="collapseGaleria" class="accordion-collapse collapse" data-bs-parent="#accordionSidebar">
            <div class="accordion-body py-2 px-4">

              <!-- <a class="nav-link text-dark py-1" routerLink="/header/agregar-enlace" (click)="closeSidebar()">
                <i class="fa-solid fa-plus me-2"></i>
                Agregar Enlace
              </a> -->

              <a class="nav-link text-dark py-1" routerLink="/galeria/configuracion" (click)="closeSidebar()">
                <i class="fa-solid fa-sliders me-2 text-primary"></i>
                Configuración
              </a>


            </div>
          </div>
        </div>

        <!-- BLOG -->
        <div class="accordion-item border-0">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-white text-dark fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseBlog" aria-expanded="false"
              aria-controls="collapseBlog">
              <i class="fa-brands fa-webflow me-2 text-primary"></i>
              Landing Page
            </button>
          </h2>
          <div id="collapseBlog" class="accordion-collapse collapse" data-bs-parent="#accordionSidebar">
            <div class="accordion-body py-2 px-4">
              <a class="nav-link text-dark py-1" routerLink="/crear-lp" (click)="closeSidebar()">
                <i class="fa-solid fa-pen me-2 text-primary"></i>
                Crear LP
              </a>
              <a class="nav-link text-dark py-1" routerLink="/lista-lp" (click)="closeSidebar()">
                <i class="fa-solid fa-list me-2 text-primary"></i>
                Ver LP's
              </a>
            </div>
          </div>
        </div>

        <!-- Scripts -->
        <div class="accordion-item border-0">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-white text-dark fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseScript" aria-expanded="false"
              aria-controls="collapseScript">
              <i class="fa-solid fa-code me-2 text-primary"></i>
              Scripts Terceros
            </button>
          </h2>

          <div id="collapseScript" class="accordion-collapse collapse" data-bs-parent="#accordionSidebar">
            <div class="accordion-body py-2 px-4">
              <a class="nav-link text-dark py-1" routerLink="/scripts/main-head/agregar" (click)="closeSidebar()">
                <i class="fa-solid fa-file-code me-2 text-primary"></i>
                Insertar Script en Head
              </a>
              <a class="nav-link text-dark py-1" routerLink="/scripts/main-head" (click)="closeSidebar()">
                <i class="fa-solid fa-scroll me-2 text-primary"></i>
                Ver Scripts en Head
              </a>
              <a class="nav-link text-dark py-1" routerLink="/scripts/main-body/agregar" (click)="closeSidebar()">
                <i class="fa-solid fa-file-code me-2 text-secondary"></i>
                Insertar Script en Body
              </a>
              <a class="nav-link text-dark py-1" routerLink="/scripts/main-body" (click)="closeSidebar()">
                <i class="fa-solid fa-scroll me-2 text-secondary"></i>
                Ver Scripts en Body
              </a>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <!-- CONTENIDO -->
  <main class="p-4" style="background-color: #f5f8fa; min-height: 100vh; margin-top: 70px;">
    <router-outlet></router-outlet>
  </main>
</div>

<!-- LOGIN -->
<app-login *ngIf="showToolbar === false"></app-login>