<div class="mt-5">
    <div class="card rounded-0 " style="width: 19rem;">
        <img src="https://kalihoteles.com/media/3d1cavre/kali-blog-febrero.png" class="card-img-top rounded-0" alt="Pareja al atardecer">
        <div class="card-body">
            <h5 class="card-title">Los mejores lugares para parejas en la Ciudad de México</h5>
            <p class="card-text">
            La Ciudad de México es un destino lleno de opciones para disfrutar en pareja.
            Desde caminatas románticas en el Centro Histórico hasta atardeceres mágicos en Chapultepec.
            </p>
            <a href="#" class="card-link">Leer artículo</a>
        </div>
    </div>
</div>